@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Sans&display=swap");

.container {
  padding: calc(100% - 90%);
  width: 100%;
  //position: relative;

  figure {
    position: relative;
    max-width: calc(100% - 35%);

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  .container__in {
    background-color: #fff;
    padding: 12%;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: -49%;
    bottom: -17%;
    max-width: calc(100% - 30%);

    h2 {
      font-size: 2rem;
      font-weight: lighter;
      font-family: "Montserrat", sans-serif;
      color: #6b6a6a;
    }

    p {
      margin-top: 10%;
      //padding: 10px;
      color: #6b6a6a;
    }
  }
}
